<?xml version="1.0"?>
<config>
  <modules>
    <CP_Rfq>
      <version>1.0.1</version>
    </CP_Rfq>
  </modules>
  <frontend>
    <routers>
      <rfq>
        <use>standard</use>
        <args>
          <module>CP_Rfq</module>
          <frontName>rfq</frontName>
        </args>
      </rfq>
    </routers>
    <layout>
      <updates>
        <rfq>
          <file>rfq.xml</file>
        </rfq>
      </updates>
    </layout>
  </frontend>
  <admin>
    <routers>
      <rfq>
        <use>admin</use>
        <args>
          <module>CP_Rfq</module>
          <frontName>rfq</frontName>
        </args>
      </rfq>
    </routers>
  </admin>
  <adminhtml>
    <menu>
      <rfq module="rfq">
        <title>RFQ</title>
        <sort_order>71</sort_order>
        <children>
          <manage_rfq module="rfq">
            <title>Manage RFQ</title>
            <sort_order>0</sort_order>
            <action>rfq/adminhtml_rfq</action>
          </manage_rfq>
          <item_config module="rfq">
            <title>Configuration</title>
            <sort_order>1</sort_order>
            <action>adminhtml/system_config/edit/section/rfq</action>
          </item_config>
        </children>
      </rfq>
    </menu>
    <acl>
      <resources>
        <admin>
          <children>
            <rfq module="rfq">
              <title>RFQ Module</title>
              <sort_order>10</sort_order>
              <children>
                <rfq module="rfq">
                  <title>Manage RFQ</title>
                </rfq>
              </children>
            </rfq>
          </children>
        </admin>
      </resources>
    </acl>
	<acl>
        <resources>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <rfq>
                                        <title>RFQ</title> <!-- Used in resources tree -->
                                    </rfq>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
    <layout>
      <updates>
        <rfq>
          <file>rfq.xml</file>
        </rfq>
      </updates>
    </layout>
  </adminhtml>
  <global>
    <models>
      <rfq>
        <class>CP_Rfq_Model</class>
        <resourceModel>rfq_mysql4</resourceModel>
      </rfq>
      <rfq_mysql4>
        <class>CP_Rfq_Model_Mysql4</class>
        <entities>
          <rfq>
            <table>rfq</table>
          </rfq>
        </entities>
      </rfq_mysql4>
    </models>
    <resources>
      <rfq_setup>
        <setup>
          <module>CP_Rfq</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </rfq_setup>
      <rfq_write>
        <connection>
          <use>core_write</use>
        </connection>
      </rfq_write>
      <rfq_read>
        <connection>
          <use>core_read</use>
        </connection>
      </rfq_read>
    </resources>
    <template>
      <email>
        <rfq_rfq_email_template translate="label" module="rfq">
          <label>RFQ Question Form</label>
          <file>rfq_question.html</file>
          <type>html</type>
        </rfq_rfq_email_template>
        <rfq_rfq_email2_template translate="label" module="rfq">
          <label>RFQ Answer Notification</label>
          <file>rfq_answer.html</file>
          <type>html</type>
        </rfq_rfq_email2_template>
      </email>
    </template>
    <blocks>
      <rfq>
        <class>CP_Rfq_Block</class>
      </rfq>
    </blocks>
    <helpers>
      <rfq>
        <class>CP_Rfq_Helper</class>
      </rfq>
    </helpers>
  </global>
  <default>
    <rfq>
      <rfq>
        <enabled>1</enabled>
        <recipient_email>
          <![CDATA[hello@example.com]]>
        </recipient_email>
        <sender_email_identity>custom2</sender_email_identity>
        <email_template>rfq_rfq_email_template</email_template>
        <email_template>rfq_rfq_email2_template</email_template>
      </rfq>
    </rfq>
  </default>
</config>
